@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../style/app-variables';
@import '../../../style/sbb-colors';

.comp_header {
  height: $headerHeight;
}

nav {
  height: $headerHeight;
  background-color: $sbb-white;
  border-bottom: 1px solid $sbb-black-10;

  .nav-link {
    cursor: pointer;
    font-size: 1.1em;
    color: $sbb-black-90;

    &.active {
      padding-bottom: -1em !important;
      height: 100%;
      border-bottom: 1px solid $sbb-black-90;
    }
  }

  .navbar-brand {
    margin-left: $navbar-padding-x;
    margin-right: 0;
  }

  .logo {
    width: 10em;
    float: right;
  }

  .navbar-collapse {
    background-color: $sbb-white;
  }
}
